@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2> Add a new Recipe </h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RecipeName)
  @Html.TextBoxFor(model => model.RecipeName)
  <br>
  <input type="submit" value="Add Recipe">
}