div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
  text-underline-position: none;
}

body {
  background-color: rgb(163, 161, 158);
  padding: 1.5%;
}

a {
  color: black;
}
a:hover{
  color:slategrey;
  text-decoration: none; 
}

div#navLinks{
  text-align: center;

}
div#navLinks:hover{
  color: rgb(243, 239, 239);
}
span {
  color: crimson;
}