div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
  text-underline-position: none;
}

body {
  background-color: rgb(163, 161, 158);

}

a {
  color: black;
}
a:hover{
  color:slategrey;
  text-decoration: none; 
}


div#navLinks{
  text-align: center;

}
div#navLinks:hover{
  color: rgb(243, 239, 239);
}
span {
  color: crimson;
}

.jumbotron{
  margin:15px 0px 0px 0px;
  border-radius:10px;
  background-image: url('../img/Splash.jpg');
  background-position: 25% 30%;
  background-size: cover;

  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 150px 0 2000px 0 #fff;
  box-shadow: inset 150px 0 2000px 0 #fff;
  height:440px;
}

.jumbotron #imgText {
  text-align: left;
  position: left;
}