@{
  Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container" id='imgText'>
    <h1 class="display-2">Mjj Recipe Box</h1>
    <p class="lead">The Fire So Hot!</p>
  </div>
</div>